@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.about {
  display: flex;
  flex-direction: column;
  animation: fade-in 0.3s ease-in-out forwards;
  justify-content: space-between;
  margin-top: 5rem;
  align-items: center;
  @include respondMobileFirst(phone) {
    flex-direction: row;
  }
}
.about__welcome {
  font-size: 3rem;
}
.welcome {
  margin-bottom: 1.5rem;
  > p {
    margin-bottom: 1.5rem;
  }
}
.welcome__portfolio {
  font-size: 10rem;
  font-weight: 700;
  line-height: 5rem;
  margin-top: 3rem;
  font-family: $font-secondary;
}
.welcome__jobDesc {
  margin-bottom: 1.5rem;
  display: flex;
  gap: 1rem;
}
.about__img {
  max-width: 300px;
  border-radius: 20px;
  align-self: center;
  order: -1;
  margin-bottom: 2rem;
  @include respondMobileFirst(phone) {
    order: 1;
  }
}
.whoIam__job {
  color: $white-color;
  font-size: 2rem;
}
.socials--list {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;

  @include respondMobileFirst(phone) {
    margin-top: 3rem;
  }
  li {
    background-color: $color-blue;
    padding: 0.7rem 1rem;
    border-radius: 12px;
    color: $color-blue;
    font-size: 1.5rem;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 0.9;
      transform: scale(0.9);
    }
  }
  a {
    display: flex;
    align-items: center;
    color: white;
    svg {
      margin-right: 0.5rem;
    }
  }
}
