@use "../../sass/variables" as *;

.text-animate {
    display: inline-block;
    opacity: 0;
    animation: fadeInUp 0.6s ease forwards;
    animation-delay: 0.5s;
    min-width: 10px;
}

.text-animate-hover {
    display: inline-block;
    animation-fill-mode: both;
    cursor: pointer;

    &:hover {
        animation: rubberBand 1s;
        color: $accent-coral;
    }
}
