@import "variables";
@import "mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  box-sizing: border-box;
  font-size: 50%;
  scroll-behavior: smooth;

  @include respondMobileFirst(tab-port) {
    font-size: 56.25%;
  }
  @include respondMobileFirst(tab-land) {
    font-size: 62.5%;
  }
  @include respondMobileFirst(big-desktop) {
    font-size: 75%;
  }
}

li {
  list-style-type: none;
}

body {
  font-weight: $font-weight-regular;
  line-height: $font-line-height-body;
  font-size: $font-size-body;
  background-color: $bg-primary;
  color: $text-primary;
  margin: 0;
  min-height: 100vh;
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture {
  max-width: 100%;
  display: block;
}

::selection {
  background-color: $accent-coral;
  color: white;
}
