@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: 3rem;
    color: $color-blue;
    font-weight: 500;

    @include respondMobileFirst(phone) {
      font-size: 2rem;
    }
  }
}

.header--nav {
  &__list {
    display: flex;
    gap: 1.5rem;
  }
}

.header--nav__main {
  display: none;
  @include respondMobileFirst(phone) {
    display: block;
  }
}

.menu-open {
  display: block;
  width: 35px;
  cursor: pointer;
  @include respondMobileFirst(phone) {
    display: none;
  }
}
.menu-open:before,
.menu-open:after,
.menu-open div {
  background: #fff;
  content: "";
  display: block;
  height: 5px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}
.menu-open__clicked:before {
  transform: translateY(12px) rotate(135deg);
}
.menu-open__clicked:after {
  transform: translateY(-12px) rotate(-135deg);
}
.menu-open__clicked div {
  transform: scale(0);
}
.modal-menu {
  position: relative;
  @include respondMobileFirst(phone) {
    display: none;
  }
}
.burger--nav {
  margin-top: 15px;
  position: absolute;
  display: none;
  background-color: brown;
  width: 200px;
  right: 0;
  padding: 20px;
  border-radius: 5%;
}
.burger--nav__clicked {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
