@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fade-in 1s ease-in-out forwards;
}
.headerContainer__title {
  line-height: 4rem;

  &-text {
    font-size: 3rem;
    span {
      color: $color-blue;
    }
  }
}
.header--about__title {
  color: $color-blue;
  font-family: $font-secondary;
  line-height: 6rem;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}
.animatedLetter__container {
  display: flex;
  flex-direction: column;
  @include respondMobileFirst(phone) {
    flex-direction: row;
  }
}
.animatedLetter__separator {
  width: 0;
  height: 0;
  @include respondMobileFirst(phone) {
    width: 20px;
    height: 25px;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
