@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";
.navBar {
  position: fixed;
  top: 35%;
  left: 3%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3rem;
  animation: fade-nav-in 1s ease-in-out forwards;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  @include respond(phone) {
    top: auto;
    bottom: 3%;
    left: 50%;
    width: 80%;
    animation: fade-navPhone-in 1s ease-in-out forwards;
  }
}
.navBar__title-links {
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  @include respond(phone) {
    padding: 8px 10px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.icon {
  font-size: 4rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.377);
  padding: 5px;
  transition: fill 0.1s ease-in-out;
  fill: rgb(209, 217, 252);
  border: 2px solid transparent;
  @include respond(phone) {
    font-size: 4rem;
  }
  &:hover {
    fill: rgba(88, 117, 248, 0.2);
    border: 2px solid rgba(88, 117, 248, 0.2);
  }
}
.icon.active-nav {
  fill: rgb(88, 117, 248);
  border: 2px solid rgb(88, 117, 248);
  &:hover {
    fill: rgb(88, 117, 248);
    border: 2px solid rgba(88, 117, 248);
  }
}
@keyframes fade-nav-in {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-navPhone-in {
  0% {
    opacity: 0;
    transform: translate(-200px);
  }
  100% {
    transform: translate(-50%);
    opacity: 1;
  }
}
